p span, p span span {
  display: inline-block;
  line-height: 1.6;
}

.container {
  position: relative;
}

.highlight {
  background: #fff7b6;
  position: relative;
}

.active {
  border-bottom: 3px solid #e4a735;
}

.highlight-icon .nonactive:after {
  content: url(logo.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: -7px;
  right: -10px;
  z-index: 1;
}
